body div[admin="1"]{display:none;}

body[areas="1"] div[admin="1"]{display:block;}

body[modules="users"] button[action="delete"]{display:none;}
body[areas="1"][modules="users"] button[action="delete"]{display:block;}